.profile-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.profile-div{
  margin-top: 160px; 
  width: 400px;
  background-color: white;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 /10%), 0 8px 16px rgb(0 0 0 /10%);
  border-radius: 8px;
  align-items: center;
}
.user-pic-div{
  height: 60px;
  border-bottom: 1px solid #dddfe2;;
  display: flex;
  justify-content: center;
}

.user-pic{
  height: 80px;
  width: 80px;
  border-radius: 80px;
  margin-top: -40px;
  box-shadow: 0 2px 4px rgb(0 0 0 /10%), 0 8px 16px rgb(0 0 0 /10%);
} 

.user-info{
  height: 100%;
}

.user-info-detail{
  border: 1px solid #dddfe2;;
  box-shadow: 0 1px 4px rgb(0 0 0 /10%), 0 4px 8px rgb(0 0 0 /10%);
  margin: 30px 20px;
  padding-left: 10px;
  font-size: 1.5rem;
}

.signout-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.signout-button{
  width: 100px;
  background: #333;
  color: white;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.signout-button:hover{
  background-color: black;
}